header {
    display:block;
  }
  h1{
    color: white;
    font-weight: bold;
  }
  
  .white {
 color: white;
font-size: large;
font-weight: bold;

  }
 
  
  .header {
    padding: 10px;
    text-align: center;
    background: #000;
    color: white #04AA6D;
    font-size: 30px;
margin-top: 0px;
  }
   #kep1 {
   text-align: center;
  }
  h1{
font-size: larger;
font-weight: bolder;
text-decoration: underline;
text-align: center;

  }
  .Zotya{
text-align: center;
text-decoration: underline;
color: white;
font-weight: bold;
  }
  .nemlink {
color: aqua;
text-decoration: underline;
font-size: larger;
margin: 0% 12%;
  }
  table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
  }
  .gray{
color: black;


  }
  .enyem{

font-size: larger;
color: white;
margin: 0% 9%;
  }
  .main{
margin: 0% 0% ;
background-color: gray;
padding: 10px;
  }
#Kell{
  margin: 0% 5% ;
  background-color: gray;
  padding: 10px;
margin: auto;

  }
  #pic{
width: 150px;
height: 100px;
float: left;

  }
  h2{
    color: white;
    font-weight: bold;
  }