*{
  margin: 0;
}
header {
    display:block;
}  
  .white {
 color: white;
font-size: 20px;
font-weight: bold;
  }
  .header {
    padding: 10px;
    text-align: center;
    color: white #04AA6D;
    font-size: 25px;
  }
.background{
  background: #000;
}
   #kep1 {
   text-align: center;
  }
  h1{
font-size: larger;
font-weight: bolder;
text-decoration: underline;
text-align: center;
 }
  .Zotya{
text-align: center;
font-size: 20px;
color: white;
font-weight: bold;
  }
  .nemlink {
color: aqua;
text-decoration: underline;
font-size: larger;
margin: 20% 4%;
  }
  table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    font-size: 20px;
  }
  .gray{
color: black;
  }
  .enyem{
font-size: larger;
color: white;
margin: 300px 200px 0 0;
position:relative;
  }
  .main{
margin: 4% 20% ;
background-color: rgba(50, 50, 50, 0.8);
padding: 10px;
border-radius: 0.3cm;
border: 5px solid white ;
  }
#Kell{
  margin: 0% 5% ;
background-color: gray;
 padding: 10px;
margin: auto;
  }
  #pic{
width: 120px;
height: 80px;
float: left;
  }
  .h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
   text-decoration: underline;
  }
  .dlc
  {
float:inline-end;
color: white;
font-size: large;
font-weight: bold;
  }
  .fo{
margin: 0px 50px ;
}
#Ferenc{
color: gold;
}
.black{
  background-color: black;
  height: 100px;
} 
.black a{
  margin-top: 20px;
}
.black div{
  margin-top: 10px ;
  margin-bottom: 10px
}
body{
background-image: url(https://store-images.s-microsoft.com/image/apps.47969.14624623825567191.2a9f7aa6-068a-4bb0-b9f4-86968eeb537d.23ef8a70-ef8f-4b40-80c0-7cf48b5d7207);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
.ertekeles{
color: gold;
font-weight: bold;
font-size: larger;
}
.D-or-D{
float: right;
max-width:500px ;
max-height: 281px ;
}
ul{
  margin-top: 30px;
  margin-bottom: 40px;
}
#h42{
  float: right;
  max-width:500px ;
  max-height: 281px ;}
#h41{

  float: right;
  max-width:500px ;
  max-height: 281px ;
}
#h43{
  float: right;
  max-width:500px ;
  max-height: 281px ;
} 
.kepkeret{
  width: 500px;
  float: right;
  text-align: center;
  padding: 0px 0px 10px;
  margin-left: 0px;
  border-radius: 25px;
  overflow: hidden;
 background-color: white;
font-weight: bold;

}
.link{
  float: left;
  height: 100pxs;
  width: 150px;
}
a:active{
color: skyblue;
}
span{
  color: gold;
  font-size: 30px;
}
.cim{
  color: white;
  text-decoration: underline;
  font-size: 40px;
}
.main:hover {
  transform: scale(110%);
  transition: .3s;
  
}